* {
  margin: 0;
}

body {
  user-select: none;
  cursor: default;
  text-shadow: 1px 0 4px black;
  background-color: black;
}

.video {
  video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    z-index: -999;
  }
}

.video.hide {
  opacity: 0;

  $ease_in: opacity 2s ease-in;

  -webkit-transition: $ease_in;
  -moz-transition: $ease_in;
  -ms-transition: $ease_in;
  -o-transition: $ease_in;
  transition: $ease_in;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    video {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    video {
      width: auto;
      height: 100%;
    }
  }
}